@import "node_modules/normalize.css/normalize";

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('fonts/montserrat-v14-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/montserrat-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/montserrat-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* teko-600 - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  src: local('Teko SemiBold'), local('Teko-SemiBold'),
  url('fonts/teko-v9-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/teko-v9-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* teko-700 - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: local('Teko Bold'), local('Teko-Bold'),
  url('fonts/teko-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/teko-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Montserrat', serif;
  box-sizing: border-box;
  position: relative;
  background: #232323;
}

* {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

input,
input:hover,
input:focus,
input:active {
  border: none;
  outline: none;
}




.up-scroll__button {
  width: 47px;
  height: 47px;
  position: fixed;
  bottom: 126px;
  right: 100px;
  background: #004cff;
  border-radius: 15px;
  padding: 13.5px 14.5px;
  z-index: 9;
}

.up-scroll__button:hover,
.up-scroll__button:focus,
.up-scroll__button:active {
  background: darken(#004cff, 10%);
}

.up-scroll__button-pic {
  width: 100%;
}


.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper_big{
  max-width: 1350px;
  margin: 0 auto;
}

//--------------pre-header styles start-------------
.pre-header {
  height: 78px;
  width: 100%;
  background: #262626;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-panel__promo p {
  color: #f8f8f8;
  font-size: 12px;
  font-weight: 500;
  padding: 32px 0;
  margin: 0;
}

.top-panel__icons {
  display: flex;
}

.top-panel-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 23px;
  width: 31px;
  height: 31px;
  padding: 2px 0;
}

.top-panel-link:nth-child(2) {
  padding: 4px 0;
}

.top-panel__icon {
  max-width: 100%;
}

//-----------------header styles start------------------

.header {
  position: relative;
  padding-top: 37px;
  height: calc(100vh - 78px);
  margin-bottom: 44px;
}

.header::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: #b2b2b2 url("img/header-bg1.jpg") no-repeat center/cover;
  z-index: -1;
  transition: 1s all linear;
}

.header::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: #b2b2b2 url("img/header-bg2.jpg") no-repeat center/cover;
  z-index: -1;
  transition: 1s all linear;
}

.header.active::after {
  opacity: 0;
}

.header.active::before {
  opacity: 1;
}

.header__burger {
  position: absolute;
  z-index: 11;
  display: none;
  top: 37px;
  right: 20px;
  width: 40px;
  height: 28px;
  flex-direction: column;
  justify-content: space-between;
}

.burger__line {
  height: 2px;
  background: black;
  box-shadow: white 2px 2px;
  position: relative;
  transition: .2s linear;
}

.header-bg__switch {
  position: absolute;
  top: 50%;
  right: 113px;
  transform: translateY(-50%);
}

.header-bg__switch-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #404040;
  margin-bottom: 22px;
}

.header-bg__switch-button.active {
  border: 5px solid #004cff;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Teko', serif;
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 0.45px;
  margin-bottom: 164px;
  color: #404040;
}

.header__logo {
  display: block;
  width: 158px;
  height: 83px;
}

.header__logo-pic {
  width: 100%;
}

.header__nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: relative;
}

.header__nav-item {
  position: relative;
}

.header__nav-item:not(:last-child) {
  margin-right: 52px;
}

.header__nav-link {
  transition: .2s;
}

.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active {
  color: #004cff;
}

.decor-header__link {
  position: absolute;
  top: 10px;
  left: calc(100% + 20px);
  width: 7px;
  height: 7px;
  background-color: #004cff;
  transform: rotateZ(45deg);
}

.header__nav-button {
  color: #ffffff;
  padding: 24px 38px 27px;
  background-color: #004cff;
  transition: .2s;
}

.header__nav-button:hover,
.header__nav-button:active,
.header__nav-button:focus {
  background: darken(#004cff, 10%);
}

.intro__title {
  color: #ffffff;
  font-family: Teko, serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 2.73px;
  margin-bottom: 64px;
}

.header__intro-button {
  color: white;
  font-size: 18px;
  padding: 20px 42px;
  border: 6px solid #ffffff;
  max-width: 248px;
}

//--------------------------rally-fuel styles start-------------------//

.rally-fuel__content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 122px;
  font-family: 'Teko', serif;
  color: white;
}

.rally-fuel__item {
  height: 402px;
  margin-bottom: 40px;
}

.rally-fuel__item:first-child {
  background: #004cff url("img/fuel-pic1.jpg") no-repeat center/cover;
  position: relative;
  padding: 99px 68px 73px 146px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.rally-fuel__title {
  font-size: 68px;
  line-height: 61.5px;
  font-weight: 400;
  letter-spacing: 2.73px;
  padding-right: 10px;
}

.rally-fuel__discount {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  }

.rally-fuel__discount p:first-child {
  font-size: 43px;
  margin-bottom: 29px;
}

.rally-fuel__discount p:last-child {
  font-size: 78px;
  font-weight: 700;
  line-height: 70.5px;
}

.rally-fuel__item:nth-child(odd) {
  margin-right: 40px;
}

.rally-fuel__item:first-child,
.rally-fuel__item:last-child {
  width: calc(66.5% - 20px);
}

.rally-fuel__item:nth-child(2),
.rally-fuel__item:nth-child(3) {
  width: calc(33.2% - 20px);
}

.rally-fuel__item-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//---------------------product styles start-------------------//

.product {
  margin-bottom: 131px;
}

.product__title {
  text-align: center;
  color: #f1f1f1;
  font-family: 'Teko', serif;
  font-size: 53px;
  font-weight: 700;
  margin-bottom: 59px;
}

.product__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.product__nav-item:not(:last-child) {
  margin-right: 45px;
}

.product__nav-link {
  font-size: 21px;
  font-weight: 400;
  color: white;
}

.product__nav-link:hover,
.product__nav-link:active,
.product__nav-link:focus {
  color: #004cff;
}

.product__line {
  height: 2px;
  background: #b2b2b2;
  margin-bottom: 75px;
}

.product__cards {
  display: flex;
  flex-wrap: nowrap;
}

.product__card {
  height: 508px;
  flex-grow: 1;
  background: white;
}

.product__card:not(:last-child) {
  margin-right: 44px;
}

.product__card-pic {
  width: 100%;
  margin-bottom: 36px;
}

.product__card-title {
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  color: #262626;
  margin-bottom: 27px;
}

.product__card-price {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #004cff;
}

//--------------------<another-discount styles start-------------------//

.another-discount__up50 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 44px;
}

.another-discount__up50-item {
  height: 486px;
  flex-grow: 2;
  position: relative;
}

.another-discount__up50-item:first-child {
  flex-grow: 1;
  margin-right: 44px;
}

.another-discount__up50-item-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.another-discount__offer {
  position: absolute;
  top: 0;
  left: 55%;
  color: #262626;
  font-family: 'Teko', serif;
  padding-top: 81px;
}

.another-discount__offer p:first-child {
  font-size: 52px;
  font-weight: 400;
  margin-bottom: 36px;
}
.another-discount__offer p:last-child {
  font-size: 95px;
  font-weight: 700;
  line-height: 85.5px;
}

.another-discount__up75 {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 178px;
  background: url("img/up75-bg.jpg") no-repeat center/cover;
  margin-bottom: 104px;
}

.another-discount__up75-title {
  color: #ffffff;
  font-family: 'Teko', serif;
  font-size: 97px;
  font-weight: 700;
  margin-bottom: 101px;
}

.another-discount__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.another-discount__form input[type="text"]{
  width: 50vw;
  max-width: 700px;
  height: 62px;
  padding-left: 44px;
}

.another-discount__form input[type="text"]::placeholder {
  color: #707070;
  font-size: 19px;
  font-weight: 500;
}

.another-discount__form input[type="submit"]{
  width: 180px;
  height: 62px;
  padding: 24px 52px;
  background: #004cff;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
}

//---------------------------------guarantee styles start--------------------------//

.guarantee__cards {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 104px;
  align-items: stretch;
}

.guarantee__card {
  min-height: 165px;
  flex-grow: 1;
  background: white;
  display: flex;
  padding: 35px;
}

.guarantee__card:nth-child(2) {
  margin: 0 22px;
}

.guarantee__card-picbox {
  margin-right: 35px;
  display: flex;
}

.guarantee__card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guarantee__card-title {
  color: #262626;
  font-size: 13px;
  font-weight: 700;
}

.guarantee__card-desc p {
  color: #707070;
  font-size: 11px;
  font-weight: 400
}

//--------------------gallery styles start-------------------//

.gallery__items {
  display: flex;
}

.gallery___item {
  min-height: 480px;
  flex-grow: 1;
}

.gallery-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


//--------------------footer styles start-------------------//


.footer {
  padding-top: 126px;
}

.footer__content {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 66px;
}

.footer__content-item:not(:last-child) {
  margin-right: 10px;
}

.footer__content-item:first-child,
.footer__content-item:last-child {
  width: 250px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__content-item-title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 400;
}

.about-desc {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 68px;
  line-height: 33.75px;
}

.footer__social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__social-link {
  max-height: 50px;
  max-width: 50px;
}

.footer__social-link-pic {
  width: 100%;
}

.footer__nav-items {
  display: flex;
  flex-direction: column;

}

.footer__nav-item {
  font-size: 19px;
  font-weight: 400;
  line-height: 42.75px;
}

.footer__logo {
  margin-bottom: 47px;
}

.footer__address-desc {
  font-size: 19px;
  font-weight: 400;
  line-height: 33.75px;
  margin-bottom: 30px;
}

.footer__payments-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__line {
  width: 1300px;
  height: 1px;
  border: 1px solid #b2b2b2;
  position: relative;
  left: -120px;
  margin-bottom: 50px;
}

.footer__underline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 63px;
  color: #b2b2b2;
  font-size: 19px;
}

.footer__underline-link {
  margin-right: 40px;
}

.footer__underline-copyright {
  margin-left: auto;
  margin-right: 70px;
}

//--------------media queries---------------------//
// -----------------------------------1060--------------------------------//

@media screen and (max-width: 1060px) {
  .wrapper,
  .wrapper_big {
    padding: 0 15px;
  }

  .rally-fuel__title {
    font-size: 55px;
  }

  .rally-fuel__discount p:first-child {
    font-size: 35px;
  }

  .rally-fuel__discount p:last-child {
    font-size: 65px;
  }

  .rally-fuel__item:first-child {
    padding: 99px 68px 73px 70px;
  }

  .gallery___item {
    min-height: 400px;
  }

}
// ----------------------------900-------------------------------------//

@media screen and (max-width: 900px) {
  .header__nav {
    font-size: 20px;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 30px;
  }

  .header__nav-button {
    padding: 15px 28px ;
  }

  .rally-fuel__title {
    font-size: 44px;
  }

  .rally-fuel__discount p:first-child {
    font-size: 32px;
  }

  .rally-fuel__discount p:last-child {
    font-size: 52px;
  }

  .rally-fuel__item:first-child {
    padding: 30px 40px 30px 30px;
  }

  .rally-fuel__item {
    height: 300px;
  }

  .rally-fuel__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

    .up-scroll__button {
    bottom: 60px;
    right: 50px;
  }

  .product__card {
    height: 450px;
  }

  .product__card:not(:last-child) {
    margin-right: 24px;
  }

  .another-discount__up75 {
    height: 495px;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  .another-discount__up50-item {
    height: 450px;
  }

  .guarantee__cards {
    flex-direction: column;
    margin: 0 auto 50px;
    width: 50vw;
  }

  .guarantee__card:nth-child(2) {
    margin: 15px 0;
  }

  .gallery___item {
    min-height: 300px;
  }

  .footer__logo {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer__logo-pic {
    max-width: 100%;
  }

  .about-desc {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 33.75px;
  }

  .footer__content-item:not(:last-child) {
    margin-right: 20px;
  }

  .footer__content-item:first-child,
  .footer__content-item:last-child {
    width: 200px;
  }
}

// ----------------------------414-------------------------------------//

@media screen and (max-width: 414px) {
  .top-panel__promo p {
    color: #f8f8f8;
    font-size: 11px;
    font-weight: 500;
    padding: 32px 0;
    margin: 0 50px 0 0;
  }

  .top-panel-link {
    margin-left: 15px;
    width: 25px;
    height: 25px;
  }

  .intro__title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 8vh;
  }

  .up-scroll__button {
    width: 40px;
    height: 40px;
    bottom: 80px;
    right: 20px;
  }

  .header__burger {
    display: flex;
    transition: .2s linear;
  }

  .header__burger.active {
    position: fixed;
    top: 20px;
    transform: rotateZ(-90deg);
    height: 40px;
  }

  .header__burger.active .burger__line {
    position: absolute;
    width: 141.4%;
    transform-origin: 0 1px;
    left: 0;
    background: white;
    box-shadow: unset;
  }

  .header__burger.active .burger__line:first-child {
    transform: rotateZ(45deg);
    top: -1px;
  }

  .header__burger.active .burger__line:nth-child(2) {
    display: none;
  }

  .header__burger.active .burger__line:last-child {
    transform: rotateZ(-45deg);
    bottom: -1px;
  }

  .header__nav-items {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: 10;
    padding: 50px;
    transform: translateX(-100%);
    transition: .2s ease-out;
    flex-direction: column;
  }

  .header__nav-items.active {
    animation: burger .2s ease-out forwards;
    margin: 0;
  }

  @keyframes burger {
    from {
      transform: translateX(-100%);
      height: 0;
    }

    to {
      transform: translateX(0);
      height: 100%;
    }
  }

  .header__nav-link {
    text-align: center;
    color: white;
  }

  .decor-header__link {
    top: 8vh;
    left: 50%;
  }

  .header-bg__switch {
    right: 20px;
  }

  .header__nav-button {
    padding: 24px 38px 27px;
    text-align: center;
  }

  .intro__title {
    font-size: 62px;
  }

  .header__intro-button {
    margin: auto;
  }

  .rally-fuel__content .rally-fuel__item {
    width: unset;
    flex-grow: 1;
    margin: 0 0 20px 0;
  }

  .rally-fuel__item:first-child {
    flex-wrap: nowrap;
  }

  .rally-fuel__title {
    font-size: 34px;
    line-height: 40px;
    flex-grow: 2;
  }

  .rally-fuel__discount {
    flex-grow: 1;
  }

  .rally-fuel__discount p:first-child {
    font-size: 20px;
  }

  .rally-fuel__discount p:last-child {
    font-size: 38px;
    line-height: 35px;
  }

  .product__nav-link {
    margin-bottom: 20px;
  }

  .product__nav {
    margin-bottom: 20px;
  }

  .product__cards {
    flex-wrap: wrap;
  }

  .product__card:not(:last-child) {
    margin-right: 0;
  }

  .product__card {
    height: unset;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .product__line {
    margin-bottom: 20px;
  }

  .product {
    margin-bottom: 40px;
  }

  .another-discount__up50 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .another-discount__up50-item {
    height: 200px;
    flex-grow: 1;
    margin-bottom: 20px;
  }

  .another-discount__up50-item:first-child {
    margin-right: 0;
  }

  .another-discount__offer {
    padding-top: 20px;
  }

  .another-discount__offer p:first-child {
    font-size: 26px;
    margin-bottom: 18px;
  }
  .another-discount__offer p:last-child {
    font-size: 42px;
    line-height: 40px;
  }

  .another-discount__up75-title {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .another-discount__up75 {
    height: 350px;
    padding-top: 70px;
  }

  .another-discount__form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .another-discount__form input[type="text"] {
    width: 80vw;
    height: 40px;
    text-align: center;
    padding-left: 0;
    margin-bottom: 20px;
  }

  .another-discount__form input[type="text"]::placeholder {
    color: #707070;
    font-size: 19px;
    font-weight: 500;
  }

  .another-discount__form input[type="submit"] {
    width: 180px;
    height: 62px;
    padding: 24px 52px;
    background: #004cff;
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
  }
  .guarantee__cards {
    flex-direction: column;
    margin: 0 auto 50px;
    width: 70vw;
  }

  .guarantee__card {
    min-height: 100px;
    padding: 20px;
  }

  .guarantee__card-picbox {
    margin-right: 20px;
    width: 100px;
  }

  .guarantee__card-pic {
    width: 100%;
  }

  .footer {
    padding-top: 50px;
    text-align: center;
  }

  .footer__content {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
  }


  .footer__content-item-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
  }

  .about-desc {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .footer__content-item {
    margin-bottom: 30px;
  }

  .footer__nav-item {
    font-size: 12px;
    line-height: 30px;
  }

  .footer__content-item:first-child,
  .footer__content-item:last-child {
    flex-grow: 1;
    width: unset;
  }

  .footer__social-links {
    justify-content: space-around;
  }

  .footer__address-desc {
    font-size: 16px;
    line-height: 20px;
  }

  .footer__payments-logos {
    display: flex;
    justify-content: space-around;
  }

  .footer__underline-link {
    font-size: 12px;
    margin-right: 20px;
  }

  .footer__underline-copyright {
    font-size: 12px;
    margin-left: auto;
    margin-right: 0;
  }
}

// ----------------------------320-------------------------------------//

@media screen and (max-width: 320px) {
  .header__nav {
    margin-bottom: 10px;
  }
  .intro__title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 8vh;
  }

  .up-scroll__button {
    bottom: 20px;
    right: 10px;
  }
  .decor-header__link {
    top: 30px;
    left: 50%;
  }
}